In [2]:
#!/usr/bin/python

""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""

import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [4]:
len(enron_data)

146

In [13]:
import pandas as pd
sample_df = pd.DataFrame(enron_data).T

In [16]:
import numpy as np
np.sum(sample_df.poi)

18

In [23]:
sample_df.poi

ALLEN PHILLIP K                  False
BADUM JAMES P                    False
BANNANTINE JAMES M               False
BAXTER JOHN C                    False
BAY FRANKLIN R                   False
BAZELIDES PHILIP J               False
BECK SALLY W                     False
BELDEN TIMOTHY N                  True
BELFER ROBERT                    False
BERBERIAN DAVID                  False
BERGSIEKER RICHARD P             False
BHATNAGAR SANJAY                 False
BIBI PHILIPPE A                  False
BLACHMAN JEREMY M                False
BLAKE JR. NORMAN P               False
BOWEN JR RAYMOND M                True
BROWN MICHAEL                    False
BUCHANAN HAROLD G                False
BUTTS ROBERT H                   False
BUY RICHARD B                    False
CALGER CHRISTOPHER F              True
CARTER REBECCA C                 False
CAUSEY RICHARD A                  True
CHAN RONNIE                      False
CHRISTODOULOU DIOMEDES           False
CLINE KENNETH W                  False
COLWELL WESLEY                    True
CORDES WILLIAM R                 False
COX DAVID                        False
CUMBERLAND MICHAEL S             False
                                 ...
SHANKMAN JEFFREY A               False
SHAPIRO RICHARD S                False
SHARP VICTORIA T                 False
SHELBY REX                        True
SHERRICK JEFFREY B               False
SHERRIFF JOHN R                  False
SKILLING JEFFREY K                True
STABLER FRANK                    False
SULLIVAN-SHAKLOVITZ COLLEEN      False
SUNDE MARTIN                     False
TAYLOR MITCHELL S                False
THE TRAVEL AGENCY IN THE PARK    False
THORN TERENCE H                  False
TILNEY ELIZABETH A               False
TOTAL                            False
UMANOFF ADAM S                   False
URQUHART JOHN A                  False
WAKEHAM JOHN                     False
WALLS JR ROBERT H                False
WALTERS GARETH W                 False
WASAFF GEORGE                    False
WESTFAHL RICHARD K               False
WHALEY DAVID A                   False
WHALLEY LAWRENCE G               False
WHITE JR THOMAS E                False
WINOKUR JR. HERBERT S            False
WODRASKA JOHN                    False
WROBEL BRUCE                     False
YEAGER F SCOTT                    True
YEAP SOON                        False
Name: poi, dtype: object

In [27]:
names = '''
(y) Lay, Kenneth
(y) Skilling, Jeffrey
(n) Howard, Kevin
(n) Krautz, Michael
(n) Yeager, Scott
(n) Hirko, Joseph
(n) Shelby, Rex
(n) Bermingham, David
(n) Darby, Giles
(n) Mulgrew, Gary
(n) Bayley, Daniel
(n) Brown, James
(n) Furst, Robert
(n) Fuhs, William
(n) Causey, Richard
(n) Calger, Christopher
(n) DeSpain, Timothy
(n) Hannon, Kevin
(n) Koenig, Mark
(y) Forney, John
(n) Rice, Kenneth
(n) Rieker, Paula
(n) Fastow, Lea
(n) Fastow, Andrew
(y) Delainey, David
(n) Glisan, Ben
(n) Richter, Jeffrey
(n) Lawyer, Larry
(n) Belden, Timothy
(n) Kopper, Michael
(n) Duncan, David
(n) Bowen, Raymond
(n) Colwell, Wesley
(n) Boyle, Dan
(n) Loehr, Christopher
'''.split('\n')

In [29]:
len(names)

37

In [41]:
sample_df = sample_df.reset_index()

In [48]:
sample_df[sample_df['index'].str.contains('COLWELL WESLEY')]['from_this_person_to_poi']

26    11
Name: from_this_person_to_poi, dtype: object

In [47]:
sample_df.columns

Index([u'index', u'bonus', u'deferral_payments', u'deferred_income',
       u'director_fees', u'email_address', u'exercised_stock_options',
       u'expenses', u'from_messages', u'from_poi_to_this_person',
       u'from_this_person_to_poi', u'loan_advances', u'long_term_incentive',
       u'other', u'poi', u'restricted_stock', u'restricted_stock_deferred',
       u'salary', u'shared_receipt_with_poi', u'to_messages',
       u'total_payments', u'total_stock_value'],
      dtype='object')

In [54]:
sample_df[sample_df['index'].str.contains('SKILLING')]['exercised_stock_options']

122    19250000
Name: exercised_stock_options, dtype: object